main > img {
  height: 550px;
  width: 400px;
  float: right;
  margin: 10px 10px 10px 10px;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
display: block;
font-weight: bold;
text-align: center;
color: floralwhite;
font-size: xxx-large;
font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
}

html {
  background-color: lightblue;
}

nav {
  background-color: rgb(125, 176, 129);
  height: 85px;
  color: floralwhite;
  padding-top: 5px; 
  padding-bottom: 5px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  border: 2px solid black;
  box-shadow: 0 4px 8px black;
}

nav a{
  text-decoration: none;
  color: floralwhite;
  margin-left: 15px;
}
 nav a.active {
  text-decoration: underline;
 }

main {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
  font-size: larger;
  margin: 10;
}

footer {
  background-color: rgb(125, 176, 129);
  color: floralwhite;
  height: 85px;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: large;
  left: 0;
  right: 0;
  bottom: 0; 
  border: 2px solid black;
  box-shadow: 0 4px 8px black;
}
/*project styles*/
.project {
  border-radius: 50px solid black;
  margin: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 0 4px 8px black;
  background-color: white;
  color: black;
}

  .project-text {
    flex: 1;
    text-align: left;
}

/*image styles*/
.project-img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  align-items: flex-end;
  object-fit: cover;
  flex: 1;
  box-shadow: 0 1px 3px  rgba(0, 0, 0, 0.4);
  flex-direction: column;
  display: flex;
  gap: 15px;
}

