* {
  box-sizing: border-box;
}
/* image styles */
main > img {
  height: auto;
  width: 100%;
  float: right;
  margin: 10px 10px 10px 10px;
}

#headshot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#headshot img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  margin-left: 20px;
  box-shadow: 0 1px 3px  rgba(0, 0, 0, 0.4);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  height: 100%;
  line-height: 1.6;
}

h1 {
display: block;
font-weight: bold;
text-align: left;
color: floralwhite;
font-size: xxx-large;
font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #ddbea9;
}
/* nav bar styles */
nav {
  background-color: #7f584b;
  height: auto;
  width: 100%;
  color: floralwhite;
  padding: 10px 20px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  border: 2px solid black;
  box-shadow: 0 4px 8px black;
  text-transform: uppercase;
}

nav h1 {
  margin: 0;
  font-size: 2rem;
}
a:hover {
  color: #9a7b82;
}

nav a{
  text-decoration: none;
  color: floralwhite;
  margin-left: 15px;
  box-sizing: border-box;
  z-index: auto;
  font-weight: 500;
  margin: 10px;
  font-size: 1rem;
}
 nav a.active {
  text-decoration: underline;
 }
 /* main text */
main {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
  font-size: larger;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}
form {
  font-size: 25px;
  margin: auto;  
  max-width: 100%;
}
/* footer styles */
footer {
  background-color: #7f584b;
  color: floralwhite;
  padding: 10px;
  text-align: center;
  font-size: large;
  border: 2px solid black;
  box-shadow: 0 4px 8px black;
}
/*project styles*/
.project {
  border-radius: 50px solid black;
  margin: 20px 0;
  align-items: center;
  /* display: flex; */
  flex-direction: row !important;
  gap: 20px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 0 4px 8px black;
  background-color: #f6e5d7;
  color: black;
  padding: 1em;
  flex-wrap: wrap;
}

  .project p {
    flex: 1;
    margin-right: 20px;
  }
/*image styles*/
.project-img img{
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 1px 3px  rgba(0, 0, 0, 0.4);
  flex-direction: column;
  display: flex;
  width: 100%;
  margin: 10px auto;

}

.project h3 {
  margin: 0 0 1em;
  border-bottom: 2px solid #ccc;
}
/* form styling */
input {
  width: 100%;
  height: 40px;
  font-size: 18px;
}

textarea {
  width: 100%;
  font-size: 18px;
}
/* media queries and styling, breakpoints, for mobile*/
@media only screen and (min-device-width: 400px) {

  header {
    width: 100%;
  }

  footer {
    width: 100%;
  }
 
  nav {
   flex-direction: row;
   justify-content: space-between;
   /* align-items: center; */
   /* padding: 5px 20px; */
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  main > img {
    height: 550px;
    width: 400px;
    float: right;
    margin: 10px;
  }
  .project {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .project-img {
    min-width: 20rem;
    height: auto;
    align-self: center;
    margin: 5px 0;
  }

  .project-text {
    flex: 2;
    text-align: left;  
  }

  .project h3 {
    width: 100%;
    text-align: left;
  }

  input {
    width: 100%;
    height: 40px;
    font-size: 18px;
  }
  
  textarea {
    width: 100%;
    font-size: 18px;
  }
}


