main > img {
  height: 550px;
  width: 400px;
  float: right;
  margin: 10px 10px 10px 10px;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
display: block;
font-weight: bold;
text-align: center;
color: floralwhite;
font-size: xxx-large;
font-family: Arial, Helvetica, sans-serif;
}

.active {
  border-bottom: 1px solid black;
}

html {
  background-color: lightblue;
}

nav {
  background-color: rgb(125, 176, 129);
  height: 85px;
  color: floralwhite;
  padding-top: 5px; 
  padding-bottom: 5px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
}


main {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
  font-size: larger;
  margin: 10;
}

footer {
  background-color: rgb(125, 176, 129);
  color: floralwhite;
  height: 85px;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: large;
  left: 0;
  right: 0;
  bottom: 0;
  
  
}